body {
    background: #FF8A65;
    color: #EEEEEE;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: SansSerif;
    text-align: center;
    color: white;
    font-size: 150px;
}


.footer{
    position: absolute;
    text-align: center;
    right: 0;
    bottom:0;
    left: 0;
    padding: 1rem;
}